[submodule "flower-prover"]
	path = flowerprover
	url = https://github.com/Champitoad/flower-prover
[submodule "scroller"]
	path = scroller
	url = git@github.com:Champitoad/scroller.git
[submodule "cours-lfi-2026"]
	path = cours-lfi-2026
	url = git@github.com:Champitoad/cours-lfi-2026.git
