html, body {
    height: 100%;
}
body {
    --header-border: 3px;
    --header-height: 100px;
    --section-height: 80px;
    --content-width: 800px;
    --thread-width: 1px;
    --spoil-width: 24px;
    font-family: "Hanken Grotesk";
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qed-zone {
    position: relative;
    width: 100%;
    min-height: var(--header-height);
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

strong {
    font-weight: 700;
}

a {
    font-family: "Space Grotesk";
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    transition: text-underline-offset 300ms;
}
a:hover {
    text-underline-offset: 0.3em;
}
a:active:not(#github-btn a) {
    background-color: black;
    color: white;
}

h1, h2 {
    font-family: "Josefin Sans";
}

h2 {
    display: flex;
    align-items: center;
}

h2::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    background-color: black;
    left: calc(var(--spoil-width) / 2);
}

p {
    margin: 0 0 30px 0;
}

details {
    width: 100%;
}

summary {
    list-style: none;
    cursor: pointer;
    width: 100%;
    height: var(--section-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

summary:not(#header) {
    background-color: black;
}

summary h1 {
    color: white;
    font-weight: 400;
    font-size: 22pt;
}

.thread-zone {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--spoil-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header .thread-zone {
    top: calc((var(--header-height) - var(--spoil-width)) / 2);
    height: auto;
}
#qed-zone .thread-zone {
    justify-content: flex-start;
}

.thread {
    width: var(--thread-width);
}
summary .thread {
    z-index: 0;
    height: 100%;
}
section .thread {
    height: 100%;
}
#header .thread {
    height: calc((var(--header-height) - var(--spoil-width)) / 2);
}
#qed-zone .thread {
    height: calc((var(--header-height) - var(--spoil-width)) / 2);
}

.spoil-btn {
    width: var(--spoil-width); 
    height: var(--spoil-width); 
    transform: rotate(-45deg);
    transition: transform linear 150ms;
}
.pacman {
    color: rgba(0, 0, 0, 1);
    transition: color linear 150ms;
}
summary:hover .pacman {
    color: rgba(255, 255, 255, 1);
}
details[open] .spoil-btn {
    transform: rotate(45deg);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.content {
    position: relative;
    padding-left: 50px;
    padding-right: 30px;
    width: calc(100% - 120px);
    max-width: var(--content-width);
}

#header .content {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#qed-zone .content {
    position: absolute;
    height: 100%;
}

.content h2 {
    margin: 45px 0 30px 0;
    font-weight: 400;
    font-size: 18pt;
}

.content h2:first-child {
    margin: 0 0 30px 0;
}

p:last-child {
    margin-bottom: 0;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

#header {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: var(--header-height);
    padding: var(--header-border);
    display: flex;
    justify-content: center;
}

#github-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#banner-triangle {
    height: 100%;
    background-color: white;
}

#banner-triangle svg {
    width: 100%;
    height: 100%;
}

.header-zone {
    --intpad: 5px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
#rzone {
    padding-left: var(--intpad);
}
#lzone {
    padding-right: var(--intpad);
    justify-content: end;
}
@media (max-width: 800px) { /* should be var(--content-width) */
    .header-zone {
        flex-basis: auto;
    }    
}  

#pablo, #donato {
    font-family: "Josefin Sans";
    font-size: 28pt;
}

#pablo {
    color: white;
    font-weight: 300;
}

#donato {
    font-weight: 400;
}

#spoil-btn, #github-btn {
    margin: 0 var(--extpad) 0 var(--extpad);
}
#github-btn {
    width: 34px;
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#github-btn img {
    flex-grow: 1;
    width: 100%;
}

h1, h2 {
    font-family: "Josefin Sans";
}

h2 {
    display: flex;
    align-items: center;
}

h2::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    background-color: black;
    left: calc(var(--spoil-width) / 2);
}

p {
    margin: 0 0 30px 0;
}

details {
    width: 100%;
}

summary {
    list-style: none;
    cursor: pointer;
    width: 100%;
    height: var(--section-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

summary:not(#header) {
    background-color: black;
}

summary h1 {
    color: white;
    font-weight: 400;
    font-size: 22pt;
}

.thread-zone {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--spoil-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header .thread-zone {
    top: calc((var(--header-height) - var(--spoil-width)) / 2);
    height: auto;
}
#qed-zone .thread-zone {
    justify-content: flex-start;
}

.thread {
    width: var(--thread-width);
}
summary .thread {
    z-index: 0;
    height: 100%;
}
section .thread {
    height: 100%;
}
#header .thread {
    height: calc((var(--header-height) - var(--spoil-width)) / 2);
}
#qed-zone .thread {
    height: calc((var(--header-height) - var(--spoil-width)) / 2);
}

.spoil-btn {
    width: var(--spoil-width); 
    height: var(--spoil-width); 
    transform: rotate(-45deg);
    transition: transform linear 150ms;
}
.pacman {
    color: rgba(0, 0, 0, 1);
    transition: color linear 150ms;
}
summary:hover .pacman {
    color: rgba(255, 255, 255, 1);
}
details[open] .spoil-btn {
    transform: rotate(45deg);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.content {
    position: relative;
    padding-left: 50px;
    padding-right: 30px;
    width: calc(100% - 120px);
    max-width: var(--content-width);
}

#header .content {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#qed-zone .content {
    position: absolute;
    height: 100%;
}

.content h2 {
    margin: 45px 0 30px 0;
    font-weight: 400;
    font-size: 18pt;
}

.content h2:first-child {
    margin: 0 0 30px 0;
}

p:last-child {
    margin-bottom: 0;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

#header {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: var(--header-height);
    padding: var(--header-border);
    display: flex;
    justify-content: center;
}

#github-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#banner-triangle {
    height: 100%;
    background-color: white;
}

#banner-triangle svg {
    width: 100%;
    height: 100%;
}

.header-zone {
    --intpad: 5px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
#rzone {
    padding-left: var(--intpad);
}
#lzone {
    padding-right: var(--intpad);
    justify-content: end;
}
@media (max-width: 800px) { /* should be var(--content-width) */
    .header-zone {
        flex-basis: auto;
    }    
}  

#pablo, #donato {
    font-family: "Josefin Sans";
    font-size: 28pt;
}

#pablo {
    color: white;
    font-weight: 300;
}

#donato {
    font-weight: 400;
}

#spoil-btn, #github-btn {
    margin: 0 var(--extpad) 0 var(--extpad);
}
#github-btn {
    width: 34px;
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#github-btn img {
    flex-grow: 1;
    width: 100%;
}

#github-handle {
    flex-grow: 1;
    height: 100%;
    width: var(--header-border);
    background-color: black;
}

.btn-space {
    flex-grow: 1;
    height: 100%;
}

#email {
    font-size: 16pt;
    width: 100%;
    text-align: center;
}

#qed {
    width: 15px;
    height: 15px;
    border: var(--thread-width);
    border-style: solid;
    border-color: white;
}

ul {
    padding: 0;
}

li {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
}

li:last-child {
    padding-bottom: 0;
}

ul li::marker {
    content: none;
}

ul li::before {
    z-index: 2;
    content: "▶";
    position: absolute;
    left: calc((var(--spoil-width) / 2));
    font-size: 8pt;
}

#github-handle {
    flex-grow: 1;
    height: 100%;
    width: var(--header-border);
    background-color: black;
}

.btn-space {
    flex-grow: 1;
    height: 100%;
}

#email {
    font-size: 16pt;
    width: 100%;
    text-align: center;
}

#qed {
    width: 15px;
    height: 15px;
    border: var(--thread-width);
    border-style: solid;
    border-color: white;
}

ul {
    padding: 0;
}

li {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
}

li:last-child {
    padding-bottom: 0;
}

ul li::marker {
    content: none;
}

ul li::before {
    z-index: 2;
    content: "▶";
    position: absolute;
    left: calc((var(--spoil-width) / 2));
    font-size: 8pt;
}